*{
    box-sizing: border-box;
}

#adminPanelBlock{
    width: 100%;
    min-height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerAdmin{
    width: 100%;
    padding: 25px 15px;
    display: flex;
    box-shadow: 0px 12px 20px -7px rgba(0,0,0,0.1);
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    margin-bottom: 60px;
    z-index: 100;
}

#headerAdmin > button{
    margin-left: auto;
    color: gray;
}

#headerAdmin > * {
    margin: 0px 10px;
}

#headerAdmin button{
    font-size: 16px;
    outline: none;
    background-color: white;
    border: none;
}

#navButtons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

#controlBlock{
    max-width: 1100px;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}
