*{
    box-sizing: border-box;
}

#crudBlock{
    width: 1000px;
}

#sectionHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#crudTitle{
    font-size: 32px;
    font-weight: bold;
    width: 20%;
}

#sectionHeaderLang{
    width: 30%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: grey;
}

#navCRUDBlock{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navCRUDBlock a{
    text-decoration: none;
    color: white;
    
}

#navCRUDBlock button{
    width: 100%;
    padding: 10px 15px;

    outline: none;
    background-color: green;
    border: none;
    border-radius: 4px;

    font-size: 0.8rem;
    color: white;
}

#navCrudBlock:last-child{
    background-color: red;
}

#operationBlock{
    width: 100%;
    margin-top: 20px;
    padding: 30px;

    border: 1px solid lightgray;
    border-radius: 4px;
}
