#crudBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
}

#headerAdminPanel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#crudTitle{
    width:50%;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navCRUDBlock{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navCRUDBlock button{
    width: 100%;
    height: 30px;

    outline: none;
    background-color: #575757;
    border: none;
    border-radius: 4px;

    font-size: 0.8rem;
    color: white;
}

#navCRUDBlock a{
    text-decoration: none;
    color: white;
    width: 30%;
}

#crudBlock{
    margin-top: 20px;
    width: 90%;
    height: 90%;
    border: 1px solid green;
}

#operationBlock{
    width: 100%;
    height: 200px;

    margin-top: 20px;

    border: 1px solid red;
}

#createTitle{
    width: 80%;
    font-size: 1.2rem;
    
}