#newsContent{
    width: 750px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mariupol;
}

#mainPhoto{
    width: 100%;
    margin-bottom: 40px;
}

#textContent{
    line-height: 26px;

    color: #666666;
    
    margin-bottom: 40px;
}

.galleryPhoto{
    width: 150px;
    height: 90px;

    background: green;

    border: 1px solid red;
}

.imgContainer{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryPhoto img{
    display: none;
}

.galleryPhoto:hover img{
    display: block;
}

.galleryPhoto:hover .imgContainer{
    backdrop-filter: brightness(80%);
}

@media screen and (max-width: 780px){
    #animalContent{
        width: 95%;
    }
}