#doubleTitleContainer{
    width: 100%;

    font-family: Mariupol;
    
    border: 1px solid green;

    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.titleParts{
    height: 100%;
    width: 45%;
    padding: 0 8%;
    color: #000;
}

#firstPart{
    font-size: 2.2rem;
}

#firstPart span{
    font-weight: bold;
}

#secondPart{
    font-size: 1.2rem;
}

#secondPart span{
    color: #309B1F;
}

@media screen and (min-width: 1440px){
    .titleParts{
        padding: 0 10%;

    }
}

@media screen and (max-width:1024px){
    .titleParts{
        padding: 0 10px;
    }
}