#header{
    width: 1366px;
    height: 126px;

    border: 1px solid grey;
    font-family: Mariupol;
    color: #A3A3A3;
    overflow: hidden;
    margin-bottom: 50px;
}


.headerPart{
    height: 50%;
    border: 1px solid red;
    display: flex;
    padding: 0 6% 0 6%;
    justify-content: space-between;
    box-sizing:border-box;
    width: auto;
    max-width:100%;

}

/* Компоненты верхней части Header */
#topHeader{
    background-color: #1E1E1E;
}

#sharingHeader{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid green;
}

#sharingHeader img{
    margin: 0 0 0 10px;
    display: flex;
}

#titleHeader{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    color: white;
}

#langSelectHeader{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid green;
}

#langSelectHeader div{
    margin-right: 10%;
}
/* Компоненты верхней части Header */


/* Компоненты нижней(nav) части Header */
#navHeader{
    align-items: center;
    color: #1F1F1F;
}

#navHeader button{
    font-family: Mariupol;
    outline: none;
    max-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
}

#buttonGalleryNav img{
    margin-left: 10%;
}

#buttonHuntingNav{
    background: #309B1F;

    width: 190px;
    height: 40px;
    border-radius: 4px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 0.8rem;
    font-weight: lighter;
}

#searchBox{
    height: 40px;
    width: 30%;

    border-radius: 4px;
    border: 1px solid #E5E5E5;
    overflow: hidden;

    display: flex;
    align-items: center;
}

#searchInput{
    width: 350px;
    height: 40px;

    padding: 15px;
    border: none;
    outline: none;

    display:flex;
    align-items: center;

    font-family: Mariupol;
    font-size: 13px;
}

#searchBut{
    width: 40px;
    height: 100%;

    outline: none;
    border: none;

    background-color: white;
}
/* Компоненты нижней части Header */





@media screen and (max-width: 1400px){
    #header{
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    .headerPart{
        padding: 0 1% 0 1%;
    }
}





@font-face {
    font-family: 'Mariupol Symbols';
    src: url('./fonts/Mariupol/MariupolSymbols.eot');
    src: local('Mariupol Symbols'), local('MariupolSymbols'),
    url('./fonts/Mariupol/MariupolSymbols.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mariupol/MariupolSymbols.woff2') format('woff2'),
    url('./fonts/Mariupol/MariupolSymbols.woff') format('woff'),
    url('./fonts/Mariupol/MariupolSymbols.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: url('./fonts/Mariupol/Mariupol-Medium.eot');
    src: local('Mariupol Medium'), local('Mariupol-Medium'),
    url('./fonts/Mariupol/Mariupol-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mariupol/Mariupol-Medium.woff2') format('woff2'),
    url('./fonts/Mariupol/Mariupol-Medium.woff') format('woff'),
    url('./fonts/Mariupol/Mariupol-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: url('./fonts/Mariupol/Mariupol-Regular.eot');
    src: local('Mariupol'), local('Mariupol-Regular'),
    url('./fonts/Mariupol/Mariupol-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mariupol/Mariupol-Regular.woff2') format('woff2'),
    url('./fonts/Mariupol/Mariupol-Regular.woff') format('woff'),
    url('./fonts/Mariupol/Mariupol-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: url('./fonts/Mariupol/Mariupol-Bold.eot');
    src: local('Mariupol Bold'), local('Mariupol-Bold'),
    url('./fonts/Mariupol/Mariupol-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mariupol/Mariupol-Bold.woff2') format('woff2'),
    url('./fonts/Mariupol/Mariupol-Bold.woff') format('woff'),
    url('./fonts/Mariupol/Mariupol-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

