#newsPageContainer{
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid red;
    
}

@media screen and (max-width: 1400px){
    #newsPageContainer{
        width: 100%;
        padding: 0 6%;

        box-sizing: border-box;
    }
}