#galleryPhoto{
    flex: auto;
    margin: .5vw;
    max-width: 200px;
    height: 150px;
    overflow: hidden;
    box-sizing: border-box;
}

#galleryPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery:hover img{
    opacity: .8;
    transition: .8s opacity;
}

#galleryPhoto img:hover{
    opacity: 1;
    transition: .8s opacity;
}

#galleryPhoto > #deleteButton{
    position: absolute;
    margin: auto;
}

@media screen and (max-width: 1366px){
    #galleryPhoto{
        margin: .3vw;
    }
}

@media screen and (max-width: 1024px){
    #galleryPhoto{
        margin: 0;
    }
}