/* the same homePage container */
#galleryContainer{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px solid green;

    margin-bottom: 40px;

    box-sizing: border-box;
}

#gallery{
    width: 100%;
    padding: 0 8%;
    border: 1px solid #000;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    margin-bottom: 40px;
}

@media screen and (min-width: 1440px){
    #gallery{
        padding: 0 10%;
    }
}

@media screen and (max-width: 1024px){
    #gallery{
        padding: 0 10px;
    }
}