body{
  overflow-x: hidden;
}

#siteContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;;
  width: 100%;

}

#scrollButtonContainer{
  padding: 0 10px;
  margin-bottom: 20px;

  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 50px;
}

#scrollTop{
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 4px;
  fill: white;
  background-color: rgb(116, 116, 116);
  opacity: .8;
  transition: .4s opacity;
}

#scrollTop:hover{
  opacity: 1;
  transition: 0.4s opacity;
}
